@{
    ViewData["Title"] = "Crear Cliente";
}

<h1>Crear Cliente</h1>

<form method="post">

    <div>
        <label>Nombre</label> <br />
        <input type="text" name="Nombre" />
    </div>

    <div>
        <label>Teléfono</label> <br />
        <input type="text" name="Telefono" />
    </div>

    <div>
        <label>Email</label> <br />
        <input type="email" name="Email" />
    </div>

    <br />

    <button type="submit">Guardar</button>
</form>